# Arquivos de Dependências
/node_modules
/dist

# Arquivos de Configuração de Ambientes
.env
.env.*

# Arquivos gerados pelo Expo e React Native
.expo/
/web-build/
/cache/
*.jks
*.p12
*.key
*.mobileconfig
*.orig
/android/
/ios/
/build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db